@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&family=Noto+Sans&display=swap');
@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
@import url('http://fonts.cdnfonts.com/css/helvetica-2');
@import url('http://fonts.cdnfonts.com/css/helvetica-neue-lt-std-55');
*{
  font-family:'Poppins'
  /* font-family: 'Be Vietnam Pro', sans-serif; */
  /* font-family: 'Noto Sans', sans-serif; */
  /* font-family: "HelveticaNeueLTStd", Sans-serif !important; */
  /* font-family: 'San Francisco', sans-serif; */
  /* font-family: 'Helvetica', sans-serif; */
  /* font-family: 'Helvetica Neue LT Std', sans-serif; */
  
} 
.cont {
  margin: 0 10%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: #070707;
}
.navabr {
  width: 91%;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-between;
}
.nav-links ul {
  display: flex;
  justify-content: space-between;
}
.nav-links {
  width: 340px;
}
.nav-links ul li {
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;
  line-height: 29px;
}

.home-page-first > div{
  margin: 0 5%;
}
.home-page-first {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  width: 96%;
  margin: 0 auto;
}
.home-first-img img {
  /* width: 50vw; */
  max-width: 40vw;
  flex-grow:1;
}
.home-first-text h1,
.home-page-second h1,
.speakers h1 {
  /* font-family: 'Manrope'; */
  font-style: normal;
  font-weight: 600;
  font-size: 4.25rem;
  color: #fff;
  line-height: 4.688rem;
}
.speakers h1 {
  font-size: 60px;
}
.home-second-text {
  margin-left: 40px;
}
.home-first-text span,
.home-second-text span {
  position: relative;
  font-weight: 400;
  font-size: 46px;
  line-height: 68px;
  top: -34px;
  right: 14px;
  font-weight:600
}
.home-first-text>h1{
  color:#B8171A;
  font-family: "HelveticaNeueLTStd", Sans-serif !important;
  font-size:48px;
  font-weight:600
}
.home-first-text {
  flex-grow: 2;
  /* width: 400px; */
  text-align: left;
}
.home-second-text>h1 {
  font-size: 48px;
}
.home-second-text>p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}
.home-second-text {
  text-align: left;
}
.home-first-text button,
.home-second-text button {
  background: #b8171a;
  border-radius: 10px;
  width: fit-content;
  font-weight: 600;
  font-size: 21px;
  padding: 9px 30px;
  margin-top: 45px;
  margin-bottom: 35px;
  line-height: 31px;
  border: none;
  color: #fff;
  margin-left:10px;
  cursor: pointer;
}
.social-links {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.home-page-second {
  color: #fff;
  display: flex;
  justify-content: space-around;
  width: 96%;
  margin: 0 auto;
  align-items: center;
}
.about-section-text {
  width: 630px;
  text-align: left;
}
.home-second-text,
.about-section-text p {
  font-weight: 300;
  font-size: 20px;
  text-align: left;
  line-height: 30px;
  margin-bottom: 34px;
  margin-top: 14px;
}
.home-second-img img {
  width: 41vw;
}
.home-page-first,
.home-page-second {
  min-height: 100vh;
}
.home-about-section {
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  margin-top: 100px;
  margin-top: 60px;
  /* margin-left:10%; */
}
.home-first-img{
  margin-left:0
}
.about-section-text h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 77px;
}
.about-section-img svg:nth-child(1) {
  width: 50vw;
}
.about-section-text {
  width: 500px;
  margin-left: 60px;
}
.speakers {
  text-align: center;
  margin-top: 50px;
}
.speakers h1 {
  margin-bottom: 60px;
}
.speaker-card {
  display: flex;
  flex-wrap: wrap;
  /* width: 90%; */
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}
.speaker-card img {
  margin-bottom: 30px;
  margin-top:30px
}
.footer {
  padding-top: 50px;
  background: #b8171a;
  margin-top: 60px;
  color: #fff;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  /* width: 90%; */
  margin: 0 auto;
}
.footer-bottom-text {
  text-align: center;
  padding: 20px 0;
}
.footer-logo h1 {
  font-weight: 900;
  font-size: 36px;
  line-height: 38px;
  padding-top: 30px;
  border-top: 1px solid #fff;
  text-align: center;
}
.footer-links {
  margin-top: 30px;
  text-align: left;
  padding-left: 24px;
  font-size: 16px;
}
.footer-links li {
  margin-bottom: 7px;
}
.footer-get h1:nth-child(3) {
  margin-top: 30px;
}
.footer-get h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 16px;
  line-height: 38px;
}
.footer-get p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;

  opacity: 0.7;
}
.x-graphi-era-right {
  clip-path: polygon(60% 0, 100% 50%, 60% 99%, 0% 100%, 0 50%, 0% 0%);
  background-color: white;
  width: 40vw;
  height: 100vh;
}

.x-graphi-era-left {
  clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 40% 99%, 0% 50%, 40% 0);
  background-color: white;
  width: 40vw;
  height: 100vh;
}

.x-container {
  display: flex;
  justify-content: space-between;
}

.x-triangle-top {
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  background-color: white;
  height: 40vh;
  width: 20vw;
}
.x-triangle-down {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: white;
  height: 40vh;
  width: 20vw;
}
.home-demo-anim {
  margin-top: 60px;
}
.home-demo-anim img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.about-section-img svg:nth-child(1) {
  z-index: 1;
  position: relative;
  bottom: -40px;
}
/* .about-section-img{position: relative;}
      .about-section-img img:nth-child(4),  .about-section-img img:nth-child(5),  .about-section-img img:nth-child(6){position: absolute;}
      .about-section-img img:nth-child(2){position: absolute;
        width: 790px; 
         
        animation-fill-mode: forwards;
        z-index: 2;
        right: -14px;top: -90px;
        height: 790px;}
        
        .about-section-img img:nth-child(3){position: absolute;
          width: 700px; 
           
          animation-fill-mode: forwards;
          z-index: 2;
          right: 100px;top: -50px;
          height: 700px;}
          .about-section-img img:nth-child(4){position: absolute;
            width: 700px; 
             
            animation-fill-mode: forwards;
            z-index: 2;
            right: 7px;top: -290px;
            height: 400px;}
            .about-section-img img:nth-child(5){position: absolute;
              width: 700px; 
               
              animation-fill-mode: forwards;
              z-index: 2;
              right: 120px;top: 60px;
              height: 400px;}
              .about-section-img img:nth-child(6){position: absolute;
                width: 700px;
                animation: anim1 15s linear;
                 
                animation-fill-mode: forwards;
                z-index: 2;
                left: 37px;top: 5px;
                height: 700px;}
                .about-section-img img:nth-child(7){position: absolute;
                  position: absolute;
    width: 604px; 
    animation-fill-mode: forwards;
    z-index: 2;
    left: 58px;
    top: 4.6px;
    height: 349px;
    transform: rotate(214deg);}
                  .about-section-img img:nth-child(8){    position: absolute;
                    width: 700px;
                    animation: anim1 15s linear;
                    animation-fill-mode: forwards;
                    z-index: 2;
                    left: 12px;
                    top: 174px;
                    height: 463px;
                    transform: rotate(231deg);}
          
        @keyframes anim1 {
          from {
            transform: translate(0%);
          }
        
          to {
            transform: translate(10%,-10%);
          }
        } */
/* #anim1{
          animation: anim1 10s linear;
        }
        #anim2{
          animation: anim1 10s linear;
        }
        #anim3{
          animation: anim1 10s linear;
        }
        #anim4{
          animation: anim1 10s linear;
        }
        #anim5{
          animation: anim1 10s linear;
        }
        #anim6{
          animation: anim1 10s linear;
        }
        #anim7{
          animation: anim1 10s linear;
        }
        #anim8{
          animation: anim1 10s linear;
        }
        #anim9{
          animation: anim1 10s linear;
        }
        #anim10{
          animation: anim1 10s linear;
        } */
#anim11,
#anim4_2,
#anim7_2,
#anim5_2,
#anim10,
#anim9,
#anim8,
#anim7,
#anim6,
#anim5,
#anim4,
#anim3,
#anim2,
#anim1 {
  animation: anim2 13s infinite;
  animation-fill-mode: forwards;
}
#anim2,
#anim10,
#anim7_2 {
  /* animation-delay: s; */
  animation-delay: 3s;
}
#anim11 {
  animation: anim2 10s infinite;
}
#anim6,
#anim5_2 {
  animation: anim2 5s infinite;
}
@keyframes anim1 {
  from {
    transform: translate(0%);
  }

  to {
    transform: translate(10%, -10%);
  }
}
@keyframes anim2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    transform: translate(10%, -10%);
  }
  100% {
    opacity: 0;
  }
}
.home-about-section {
  padding-top: 50px;
}
.home-about-section {
  min-height: 100vh;
}
.home-page-wrapper {
  overflow: hidden !important;
}
.video-section video {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
  z-index: 2;
}
/* .video-section {background: url('./assets/main.mp4') ;height: 100vh;width: 100%;} */
.video-animation {
  position: relative;
  overflow: hidden;
  height: 100vh;
  margin-bottom: 700px;
}
.block {
  width: 100%;
  height: 100vh;
  background-color: #070707;
}
.video-base {
  height: 80vh;
}
.copyright h1 {
  font-size: 34px;
  font-weight: 400;
  position: relative;
  top: 60px;
}
.dot {
  position: absolute;
  left: 39.7%;
  top: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  /* background-color: #f2473e; */
}
.dot video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-container {
  position: absolute;
  right: -190%;
  top: 45%;
}
.horixon-text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
}
.text {
  color: red;
  font-size: 13rem;
  /* font-weight: bold; */
  text-align: right;
}
.text span {
  position: absolute;
  top: -20px;
  font-size: 10rem;
}
.speakers {
  background-color: #070707;
}
.horixon-text h1 {
  color: #fff;
  font-size: 100px;
  z-index: 1;
}

.home-about-section {
  min-height: 100vh;
}
.home-about-section {
  min-height: 100vh;
}
.footer-container {
  padding: 0 10% !important;
}
.nav-links-list>li{
  padding: 10px;
  font-size: 16px;
}
.home-page-button{
  padding: 10 10;
}
.social-links>a{
  height:20px
}
.red-marker{
  height:40px;
  width:10px;
  margin-top:5px;
  margin-right:15px;
  background-color:#b8171a
}
.speaker-heading{
  display: flex;
  flex-direction: row;
}
.speaker-heading>h1{
  font-size:36px;
  font-weight:600;
  margin-bottom:20px;
  color:white
}
.speakers-component>p,.speakers-component>div{
  font-size:16px;
  color:white
} 
.first-secction-text {color: #fff;}
.first-secction-text h1{color: #B8171A;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 3.9rem;}
.first-secction-text h2{font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;margin-top: 15px;
  font-size: 37px;
  line-height: 118%;}
.first-secction-text span{position: relative;top: -30px;font-size: 39px;left: -15px;font-family: Arial, Helvetica, sans-serif;}
.first-secction-text p{font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  width: 490px;
  color: rgba(255, 255, 255, 0.7);margin-top: 21px;margin-bottom: 46px;}
  .first-section-btn button:nth-child(1){
    cursor: pointer;
    background: #B8171A;
    /* Main Red */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    padding: 16px 31px;

    color: #FFFFFF;
    
    border: 1px solid #B8171A;
    border-radius: 15px;
  }
    .first-section-btn button:nth-child(2){
      cursor: pointer;
      border: 1px solid #B8171A;
      border-radius: 15px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height */

      background-color: transparent;
      padding: 16px 20px;margin-left: 20px;
      /* Main Red */

      color: #B8171A;
    }
    .first-section{min-height: 100vh;display: flex;padding-top: 150px;}

    .social-links>a{
      height:20px
    }
    .red-marker{
      height:40px;
      width:10px;
      margin-top:5px;
      margin-right:15px;
      background-color:#b8171a
    }
    .speaker-heading{
      display: flex;
      flex-direction: row;
    }
    .speaker-heading>h1{
      font-size:36px;
      font-weight:600;
      margin-bottom:20px;
      color:white
    }
    .speakers-component>p{
      font-size:16px;
      color:white
    }
    .speaker-card-container{
      margin-top:40px
    }
    .speaker-card-content{
      display: flex;
      flex-direction: column;
    }
    .speaker-card-content>h3{
      color:white;
      font-size:24px;
    }
    .speaker-card-content>p{
      color:white;
      font-size:16px;
    }
    .contact-form{margin-top: 240px;}
    .speaker-heading p{font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      
      color: rgba(255, 255, 255, 0.7);}